npm-debug.log
logs
tmp
.history
.idea
/*.iml
/*.ipr
/*.iws
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/**/.settings
/**/.classpath
/**/.project
/.*cache
/node_modules
npm-debug.log.*
